body {
  margin: 30px;
  border-width: 6px;
  border-color: darkblue;
  border-style: solid;
  padding: 20px;
  background-color: darkgoldenrod
  
  
}

h1 {
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  font-family: sans-serif; 
}